<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName" default-lazy-init="true">

    <context:component-scan base-package="com.cqs"/>

    <bean name="/Calculation.http"
          class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="calculationBean"></property>
        <property name="serviceInterface" value="com.javatpoint.Calculation"></property>
    </bean>

    <bean id="targetConnectionFactory" name="targetConnectionFactory"
          class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <bean id="connectionFactory" name="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="targetConnectionFactory"/>
    </bean>

    <bean id="transactionManagement" class="org.springframework.jms.connection.JmsTransactionManager">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <bean id="t1" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="t1"/>
    </bean>


    <bean id="jmsContainer3" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="errorHandler" ref="jmsErrorHandler"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageListener" ref="jmsReceiver"/>
        <property name="destination" ref="t1"/>
        <property name="pubSubDomain" value="false"/>
        <property name="transactionManager" ref="transactionManagement"/>
        <property name="sessionTransacted" value="true"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="t1"/>
        <property name="deliveryPersistent" value="true"/>
        <property name="sessionTransacted" value="true"/>
        <property name="pubSubDomain" value="false"/>
        <property name="deliveryMode" value="2"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManagement"/>
</beans>